@model Estructura

<div class="modal-dialog modal-lg animated bounceInDown">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Nuevo Item</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            @Html.HiddenFor(m => m.PadreId)
            <div class="form-row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="Codigo">Código: </label>
                        @Html.TextBoxFor(m => m.Codigo, new { @class = "form-control form-control-sm text-uppercase" })
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="Descripcion">Descripción: <span class="text-danger">(*)</span></label>
                        @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control form-control-sm" })
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="Tablero">¿Es tablero?: <span class="text-warning">(Esta opcion no podra ser cambiada una vez se haya definido)</span></label> <br />
                        @Html.CheckBoxFor(m => m.Tablero)
                    </div>
                </div>
            </div>
        </div>
        <div id="msgEditar"></div>
        <div class="modal-footer">
            <button id="btnGuardar" type="button" class="btn btn-sm btn-primary"><i class="fa fa-check"></i>&nbsp; Guardar</button>
            <a href="javascript:void(0)" class="btn btn-sm btn-danger" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp; Cancelar</a>
        </div>
    </div>
</div>
<script>
    var nuevo = {
        ObtenerModelo: function () {
            var model = {
                'padreId': $('#PadreId').val(),
                'codigo': $('#Codigo').val(),
                'descripcion': $('#Descripcion').val(),
                'tablero': $('#Tablero').prop('checked')
            };

            return model;
        }
    };
    $(function () {
        $('#btnGuardar').click(function () {
            var model = nuevo.ObtenerModelo();
            $.ajax({
                type: "POST",
                url: "/Estructura/Nuevo",
                data: model,
                beforeSend: function () {
                    $("#msgEditar").hide();
                    $('#btnGuardar').attr("disabled", "disabled");
                    helper.wait.append('.modal-footer');
                },
                complete: function () {
                    helper.wait.remove('.modal-footer');
                },
                success: function (result) {
                    model['id'] = result;
                    @string.Format("{0}(model);", ViewBag.CallBack)
                },
                error: function (result) {
                    helper.wait.remove('.modal-footer');
                    helper.errorShow('#msgEditar', result.responseText);
                    $("#msgEditar").slideDown();
                    $('#btnGuardar').removeAttr("disabled");
                }
            });
        });
    });
</script>